<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528610308631-80jrf62bo4m6ecpf2279sndlsn13ddq3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528610308631-80jrf62bo4m6ecpf2279sndlsn13ddq3</string>
	<key>API_KEY</key>
	<string>AIzaSyDPR9EJEGcppKZ40qAVUnwtNuChp2lhjoI</string>
	<key>GCM_SENDER_ID</key>
	<string>528610308631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mutliServiceApp</string>
	<key>PROJECT_ID</key>
	<string>mutli-service-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mutli-service-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528610308631:ios:07aaad86a9330e7e14a252</string>
</dict>
</plist>